<footer>
  <footer>
    <!-- Footer -->
    <footer class="footer">
      <div class="content">
        <div class="row row-top">
          <!-- Product column -->
          <div class="column">
            <h3 class="heading" data-translate="product">Product</h3>
            <ul class="list">
              <li class="item">
                <a href="#!" data-translate="listing">Listing</a>
              </li>
              <li class="item">
                <a href="#!" data-translate="property">Property</a>
              </li>
            </ul>
          </div>
  
          <!-- Resources column -->
          <div class="column">
            <h3 class="heading" data-translate="resources">Resources</h3>
            <ul class="list">
              <li class="item">
                <a href="#!" data-translate="ourHomes">Our Homes</a>
              </li>
              <li class="item">
                <a href="#!" data-translate="memberStories">Member Stories</a>
              </li>
              <li class="item">
                <a href="#!" data-translate="video">Video</a>
              </li>
            </ul>
          </div>
  
          <!-- Company column -->
          <div class="column">
            <h3 class="heading" data-translate="company">Company</h3>
            <ul class="list">
              <li class="item">
                <a href="#!" data-translate="termsOfUse">Terms of use</a>
              </li>
              <li class="item">
                <a href="#!" data-translate="privacy">Privacy</a>
              </li>
            </ul>
          </div>
  
          <!-- Get in touch column -->
          <div class="column">
            <h3 class="heading" data-translate="getInTouch">Get in touch</h3>
            <p class="desc" data-translate="nextHome">
              You’ll find your next home, in any style you prefer.
            </p>
            <div class="social">
              <a href="#!" class="social-link">
                <img src="/assets/img/facebook.svg" alt="" />
              <a href="#!" class="social-link">
                <img src="/assets/img/twitter.svg" alt="" />
              </a>
              <a href="#!" class="social-link">
                <img src="/assets/img/linkedin.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="row row-bottom">
          <img src="/assets/img/freepik-candid-image-photography-natural-textures-highly-realistic-light-editorial-generate-a-logo-that-displays-cityland-in-a-geometric-sans-serif-typeface-with-a-stylized-silhouette-of-buildings-ris-2024100517504.png" alt="CityLand" class="logo" />
          <p class="copyright" data-translate="copyright" >Copyright 2024., All rights reserved.</p>
        </div>
      </div>
    </footer>
</footer>