<header>
  <!-- PC header -->
  <header class="fixed-header">
    <div class="content">
      <!-- Navbar -->
      <nav class="navbar">
        <!-- Tablet/mobile menu -->
        <label for="menu-checkbox" class="toggle-menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </label>

        <!-- Logo -->
        <a href="#">
          <img class="logo" src="./assets/img/logo.svg" alt="Besnik." />
        </a>

        <!-- Navigation -->
        <ul id="pc-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#resources">Resources</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="show-on-mobile separate">
            <a href="#!">Sign in</a>
          </li>
          <li class="show-on-mobile"><a href="#!">Sign up</a></li>
        </ul>

        <!-- Action -->
        <div class="actions">
          <a href="#!" class="action-link">Sign in</a>
          <a href="#!" class="btn action-btn">Sign up</a>
        </div>
      </nav>
    </div>
  </header>

  <!-- Tablet/mobile header -->
  <header class="mobile-header">
    <input
      type="checkbox"
      name=""
      id="menu-checkbox"
      class="menu-checkbox"
      hidden
    />

    <!-- Overlay -->
    <label for="menu-checkbox" class="menu-overlay"></label>

    <!-- Menu content -->
    <div class="menu-drawer">
      <!-- Logo -->
      <a href="#">
        <img src="/assets/img/freepik-candid-image-photography-natural-textures-highly-realistic-light-editorial-generate-a-logo-that-displays-cityland-in-a-geometric-sans-serif-typeface-with-a-stylized-silhouette-of-buildings-ris-2024100517504.png" alt="CityLand" />
      </a>

      <!-- Navigation -->
      <ul id="mobile-nav"></ul>
    </div>
  </header>
</header>
