.about-us {
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  width: 100%;
}
.about-us-introduction {
  color: #000336;
  font-size: 35px;
  font-weight: 700;
  padding-left: 52px;
  padding-top: 48px;
  margin-bottom: 20px;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin: 0 10%;
}
.about-us-introduction-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.about-us-introduction-1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.about-us-boldtext {
  display: flex;
}
.about-us-bold {
  color: #000336;
  font-size: 18px;
  font-weight: 700;
}
.about-us-text {
  color: #4f5361;
  font-size: 18px;
  font-weight: 500;
}

.about-us-member {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 48px;
}

.about-us-member-1 {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.about-us-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: 300px;
}
