.property-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.property-main {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}
.left-column {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-column {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.property-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.property-images img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
  cursor: pointer;
}
.thumbnail-images {
  display: flex;
  gap: 10px;
}
.thumbnail-images img {
  width: 100px;
  cursor: pointer;
}
.property-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: #e0f7ff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
}
.property-info div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.property-info img {
  width: 20px;
  height: 20px;
}
.price {
  font-size: 24px;
  font-weight: bold;
  color: #2c68f6;
}
.map-container {
  height: 300px;
}
.modal-fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.modal-fullscreen img {
  max-width: 90%;
  max-height: 90%;
}
.modal-fullscreen.active {
  display: flex;
}
.modal-fullscreen .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.modal-fullscreen .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 48px;
  color: white;
  cursor: pointer;
}
.modal-fullscreen .arrow.left {
  left: 20px;
}
.modal-fullscreen .arrow.right {
  right: 20px;
}
.contact-me {
  margin-top: 20px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
}
.contact-me h2 {
  margin-bottom: 20px;
}
.contact-me form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-me form input,
.contact-me form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.contact-me form button {
  background: #2c68f6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.property-description {
  margin-top: 20px;
  text-align: justify;
}
.detail-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  margin-top: 20px;
}
.detail-box h2 {
  margin-bottom: 15px;
}
.detail-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.detail-box li {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}
p {
  margin: 15px;
}
.breadcrumb {
  text-align: left;
}
