/* policies */

.policies {
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}
.policies-title {
  color: #000336;
  font-size: 35px;
  font-weight: 700;
  padding-left: 52px;
  padding-top: 48px;
  margin-bottom: 20px;
}
.policies-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin: 0 10%;
}
.policies-title-1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.policies-title-2 {
  color: #000;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}
.policies-text {
  color: #4f5361;
  font-size: 18px;
  font-weight: 500;
}

/*faq*/

.faqs {
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  width: 100%;
  background: #e6f0ff;
}
.faqs-title {
  color: #000336;
  font-size: 35px;
  font-weight: 700;
  padding-left: 52px;
  padding-top: 48px;
  margin-bottom: 20px;
}
.faqs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin: 0 10%;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  cursor: pointer;
}
.question {
  color: #000;
  font-size: 21px;
  font-weight: 500;
}
.answer {
  color: #4f5361;
  font-size: 18px;
  font-weight: 500;
  max-height: 0;
  overflow: hidden; /*Ẩn*/
  transition: max-height 1.4s ease;
}
.faq.active .answer {
  max-height: 300px;
  opacity: 1;
  animation: fade 1s ease-in-out; /* hiệu ứng khi hiện văn bản */
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
